In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime, timedelta

In [3]:
DATA_DIR = './building_consumption.csv'

In [ ]:
"""
UNICON, a large-scale open dataset on UNIversity CONsumption of utilities, electricity, gas and water.
This dataset is publicly released as part of La Trobe University's commitment to Net Zero Carbon Emissions
by 2029, for which we are building the La Trobe Energy AI/Analytics Platform (LEAP) that leverages Artificial
Intelligence (AI) and Data Analytics to analyse, predict and optimize the consumption, generation and utilization
of electricity, renewables, gas and water resources. UNICON contains consumption data for La Trobe's five campuses
in geographically distributed regions, across four years, 2018-2021 inclusive. This includes the COVID-19 global 
pandemic timeline of university shutdown and work from home measures that led to a significant decrease in the 
consumption of utilities. The consumption data consists of smart electricity meter readings at 15-minute granularity,
gas meter readings at hourly intervals and water meter readings at 15-minute intervals. UNICON also contains weather
data from the closest weather station to each campus, collected at two-speed latency of 1 minute and 10 minutes.
The dataset is annotated with internal events of significance, such as energy conservation measures (ECMs) and
other measurement and validation (M&V) activities conducted as part of LEAP optimization. To the best of our knowledge,
this is the first large-scale, comprehensive, open dataset for the three main utilities, electricity, gas, and
water consumption in a multi-campus university setting.
"""

In [4]:
df = pd.read_csv(DATA_DIR)

In [5]:
df.describe()

          campus_id      meter_id   consumption
count  1.048575e+06  1.048575e+06  1.048575e+06
mean   1.359822e+00  6.480715e+00  5.452782e+00
std    4.799482e-01  2.696095e+00  5.908457e+00
min    1.000000e+00  1.000000e+00 -2.825000e+00
25%    1.000000e+00  4.000000e+00  9.648400e-01
50%    1.000000e+00  6.000000e+00  3.593750e+00
75%    2.000000e+00  9.000000e+00  7.343750e+00
max    2.000000e+00  1.100000e+01  3.699100e+01

In [12]:
data = df.loc[df['meter_id']==11]

In [13]:
data

         campus_id  meter_id         timestamp  consumption
966565           2        11    2019/1/1 00:15        2.466
966566           2        11    2019/1/1 02:15        2.569
966567           2        11    2019/1/1 04:00        2.804
966568           2        11    2019/1/1 06:15        7.263
966569           2        11    2019/1/1 06:30        7.046
...            ...       ...               ...          ...
1048570          2        11  2021/10/31 06:15        2.798
1048571          2        11  2021/10/31 06:30        2.817
1048572          2        11  2021/10/31 06:45        4.315
1048573          2        11  2021/10/31 07:00        3.263
1048574          2        11  2021/10/31 07:15        3.345

[82010 rows x 4 columns]

In [13]:
# if not os.path.exists(FIG_DIR):
#     os.makedirs(FIG_DIR)

In [14]:
# data.describe()

In [15]:
# start_time = datetime.strptime("00:00", "%H:%M")
# end_time = datetime.strptime("23:45", "%H:%M")
# time_interval = timedelta(minutes=15)

# Generate the list of times
# time_list = []
# current_time = start_time
# while current_time <= end_time:
#     time_list.append(current_time)
#     current_time += time_interval

In [16]:
# groups = data.groupby(pd.Grouper(key='Timestamp', freq='D'))
# for date, data in groups:
#     plt.figure(figsize=(16, 6))
#     plt.plot(data["Timestamp"], data['Load'], label='Load')
#     plt.ylim(0, 100)
#     plt.xlabel('Time step')
#     plt.ylabel('Usage (kWh)')
#     plt.legend()
#     plt.title(f"Date {date.date()} Load Curve")
#     plt.savefig(FIG_DIR+f"{date.date()}.png")
#     plt.close()

In [17]:

# Filter data for the specific days in February
# specific_days_data = weekday_load_data['2023-02-13':'2023-02-17']

# plt.figure(figsize=(15, 7))
# for day in specific_days_data.index.normalize().unique():
#     day_data = specific_days_data.loc[day.strftime('%Y-%m-%d')]
#     plt.plot(day_data.index.strftime('%H:%M'), day_data['Load'], label=day.date(), linewidth=1.5)

# plt.xlabel('Time of Day')
# plt.ylabel('Load')
# plt.title('Load Curves for February 13-17, 2023')
# plt.xticks(rotation=45)
# plt.legend(title='Date', loc='upper left')
# plt.tight_layout()
# plt.show()