In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import MinMaxScaler

In [44]:
FILE_DIR = './load.csv'
FIG_DIR = './data_plots/'

In [45]:
if not os.path.exists(FIG_DIR):
    os.makedirs(FIG_DIR)

In [46]:
data = pd.read_csv(FILE_DIR)
# Convert the 'date' column to datetime format
data['Timestamp'] = pd.to_datetime(data['Timestamp'], format='%Y/%m/%d %H:%M')
display(data)

                Timestamp   Load
0     2023-01-01 00:00:00  10.89
1     2023-01-01 00:15:00  10.44
2     2023-01-01 00:30:00  10.89
3     2023-01-01 00:45:00  10.29
4     2023-01-01 01:00:00  10.34
...                   ...    ...
35035 2023-12-31 22:45:00   8.10
35036 2023-12-31 23:00:00   6.62
35037 2023-12-31 23:15:00   8.94
35038 2023-12-31 23:30:00   8.25
35039 2023-12-31 23:45:00   6.21

[35040 rows x 2 columns]

In [47]:
data.describe()

                 Timestamp          Load
count                35040  35040.000000
mean   2023-07-02 11:52:30      8.877887
min    2023-01-01 00:00:00      0.020000
25%    2023-04-02 05:56:15      6.380000
50%    2023-07-02 11:52:30      7.820000
75%    2023-10-01 17:48:45     10.160000
max    2023-12-31 23:45:00     24.420000
std                    NaN      3.543193

In [48]:
# scaler = MinMaxScaler()
# data_scaled = scaler.fit_transform(data['Load'].to_numpy().reshape(-1, 1))
# print(data_scaled)
# data['Load'] = data_scaled.reshape(-1, 1)

In [49]:
groups = data.groupby(pd.Grouper(key='Timestamp', freq='D'))
for date, data in groups:
    plt.figure(figsize=(16, 6))
    step = np.arange(1, len(data['Load'])+1, 1)
    plt.plot(step, data['Load'], label='Load')
    plt.ylim(0, 25)
    plt.xlabel('Time step')
    plt.ylabel('Usage (kWh)')
    plt.legend()
    plt.savefig(FIG_DIR+f"{date.date()}.png")
    plt.close()