In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime, timedelta

In [10]:
DATA_DIR = './load.csv'

In [11]:
FIG_DIR = './plots/'

In [12]:
if not os.path.exists(FIG_DIR):
    os.makedirs(FIG_DIR)

In [13]:
data = pd.read_csv("load.csv")
data['Timestamp'] = pd.to_datetime(data['Timestamp'], format='%Y/%m/%d %H:%M')
data['Load'] = data['Load'] * 4
display(data)

                Timestamp   Load
0     2023-01-01 00:00:00  43.56
1     2023-01-01 00:15:00  41.76
2     2023-01-01 00:30:00  43.56
3     2023-01-01 00:45:00  41.16
4     2023-01-01 01:00:00  41.36
...                   ...    ...
35035 2023-12-31 22:45:00  32.40
35036 2023-12-31 23:00:00  26.48
35037 2023-12-31 23:15:00  35.76
35038 2023-12-31 23:30:00  33.00
35039 2023-12-31 23:45:00  24.84

[35040 rows x 2 columns]

In [14]:
data.describe()

                 Timestamp          Load
count                35040  35040.000000
mean   2023-07-02 11:52:30     35.511548
min    2023-01-01 00:00:00      0.080000
25%    2023-04-02 05:56:15     25.520000
50%    2023-07-02 11:52:30     31.280000
75%    2023-10-01 17:48:45     40.640000
max    2023-12-31 23:45:00     97.680000
std                    NaN     14.172772

In [15]:
start_time = datetime.strptime("00:00", "%H:%M")
end_time = datetime.strptime("23:45", "%H:%M")
time_interval = timedelta(minutes=15)

# Generate the list of times
time_list = []
current_time = start_time
while current_time <= end_time:
    time_list.append(current_time)
    current_time += time_interval

In [16]:
groups = data.groupby(pd.Grouper(key='Timestamp', freq='D'))
for date, data in groups:
    plt.figure(figsize=(16, 6))
    plt.plot(data["Timestamp"], data['Load'], label='Load')
    plt.ylim(0, 100)
    plt.xlabel('Time step')
    plt.ylabel('Usage (kWh)')
    plt.legend()
    plt.title(f"Date {date.date()} Load Curve")
    plt.savefig(FIG_DIR+f"{date.date()}.png")
    plt.close()

In [17]:

# Filter data for the specific days in February
# specific_days_data = weekday_load_data['2023-02-13':'2023-02-17']

# plt.figure(figsize=(15, 7))
# for day in specific_days_data.index.normalize().unique():
#     day_data = specific_days_data.loc[day.strftime('%Y-%m-%d')]
#     plt.plot(day_data.index.strftime('%H:%M'), day_data['Load'], label=day.date(), linewidth=1.5)

# plt.xlabel('Time of Day')
# plt.ylabel('Load')
# plt.title('Load Curves for February 13-17, 2023')
# plt.xticks(rotation=45)
# plt.legend(title='Date', loc='upper left')
# plt.tight_layout()
# plt.show()